* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    color: black;
    line-height: 1.3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(53, 53, 53);
    padding: 1em;
}

.mb {
    margin-bottom: 10px;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 1em;
}

ul {
    list-style: none;
}

.logo {
    text-align: center;
}

.form-container {
    box-shadow: 0 0 20px 0 grey;
}

.form-container>* {
    padding: 1.5em;
}

.info {
    background-color: rgb(23, 192, 150);
    text-align: center;
    color: white
}

.contact {
    background-color: #f2f2f2;
}

.form-c {
    display: flex;
}

.form-c .left,
.form-c .right {
    /*border: 1px red solid;*/
    width: 50%;
    padding-right: 20px;
    margin-top: 20px;
}

.form-c .right {
    padding-right: 0px;
}

.contact form button,
.contact form input,
.contact form textarea {
    width: 100%;
    height: 2.5em;
    margin-bottom: 10px;
    border: none;
    margin-top: 6px;
}

.contact form textarea {
    height: 172px;
    resize: none;
}

.contact form button {
    height: 40px;
    width: 150px;
    border: 0;
    text-transform: uppercase;
    font-size: 1.1rem;
    background-color: rgb(35, 209, 166);
    ;
    color: white;
    border-radius: 25px;
}

.contact form button:hover,
.contact form button:focus {
    background-color: rgb(23, 192, 150);
    ;
    color: black;
    transition: background-color .4s ease-out;
}

@media(max-width:700px) {
    .form-c {
        display: flex;
        flex-direction: column;
    }
    .form-c .left,
    .form-c .right {
        /*border: 1px red solid;*/
        width: 100%;
        padding-right: 0;
    }
    .form-c .right {
        margin-top: 10px;
    }
    .contact form button {
        width: 100%;
    }
}